@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body {
    overflow-x: hidden;
  }

.container{
    width: 100%;
    background-color: #f5f5fa;
}
.corpo{
  display: grid;
  grid-template-columns: 10rem 90rem;
  padding-top: 0rem;
}

/*NAV*/
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #e7e7e9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#invest{
  height: 4rem;
}

.media{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
}

.media img{
  border-radius: 50%;
  height: 2rem;
  width: 1.8rem;
  filter: brightness(130%);
  cursor: default;
}
.media img:hover{
  filter: brightness(150%);
}
.media i:hover{
  color: #fc2a00;
  cursor: default;
}

/*ASIDE*/
.barra{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #545454;
  background-color: #e7e7e9;
  padding-left: 1.5rem;
  align-content: space-between;
  padding-top: 2rem;
  height: 100%;
  width: 12rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
.barra .i1{
  display: flex;
  gap: 0.5rem;
}
.barra .i1:hover{
  color: #fc2a00;
  cursor: default;
}
.barra .i2{
  display: flex;
  gap: 0.5rem;
}
.barra .i2:hover{
  color: #fc2a00;
  cursor: default;
}
.barra .i3{
  display: flex;
  gap: 0.5rem;
}
.barra .i3:hover{
  color: #fc2a00;
  cursor: default;
}
.barra .i4{
  display: flex;
  gap: 0.5rem;
}
.barra .i4:hover{
  color: #fc2a00;
  cursor: default;
}
.barra .i5{
  display: flex;
  gap: 0.5rem;
}
.barra .i5:hover{
  color: #fc2a00;
  cursor: default;
}

.barra .upgrade{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5fa;
  background-color: #fc2a00;
  border-radius: 1.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  height: 13rem;
  width: 9rem;
  margin-top: 5rem;
  gap:0.8rem;
  cursor: default;
}

.barra .upgrade i{
  font-size: 3rem;
}
.barra .upgrade h1{
  font-size: medium;
}
.barra .upgrade h2{
  font-size: small;
}
.barra .upgrade .btn{
  background-color: #f5f5fa;
  border-radius: 1.5rem;
  color: #fc2a00;
  padding: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: smaller;
}
.barra .upgrade .btn:hover{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}
/*MAIN*/
.main{
  cursor: default;
  padding-left: 3rem;
}
.main #over{
  color: #545454;
  font-size: 2rem;
  padding-left: 1rem;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 1rem;
}

/*OVERVIEW*/
.allcards{
  display: flex;
  justify-content: space-around;
  width: 85vw;
  flex-wrap: wrap;
  gap: 1rem;
}

/*CARD 1*/

.card1{
  display:grid;
  grid-template-rows: 5rem 5rem 5rem;
  width: 22rem;
  border-radius: 1.5rem;
  background: rgb(121,34,195);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, rgba(121,34,195,1) 0%, rgba(206,45,253,1) 100%);
}
.card1 .top{
  display: flex;
  width: 22rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
}
.card1 .top img{
  height: 3rem;
}
.card1 .mid{
  display: flex;
   width: 22rem;
  justify-content: space-around;
  align-items: center;
}
.card1 .mid .valor{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card1 .mid .valor p{
  font-size: 2rem;
  color: #f5f5fa;
  font-weight: bolder;
}
.card1 .mid .valor img{
    height: 2rem;
    margin-left: -1rem;
    padding-right: 1rem;
}
.card1 .mid #chip{
  height: 2.5rem;
  margin-right: -1rem;
}

.card1 .bot{
  display: grid;
   width: 22rem;
  grid-template-columns: 12rem 6rem 6rem ;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  color: #f5f5fa;
}
.card1 .bot h1{
  font-size: small;
}
.card1 .bot p{
  font-size: smaller;
}
.card1 .bot .dados{
  display: flex;
  flex-direction: column;
}
.card1 .bot .valid{
  display: flex;
  flex-direction: column;
}
.card1 .bot .seg{
  display: flex;
  flex-direction: column;
}
/*CARD 2*/

.card2{
  display:grid;
  grid-template-rows: 5rem 5rem 5rem;
   width: 22rem;
  border-radius: 1.5rem;
  background: rgb(134,134,134);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, rgba(134,134,134,1) 0%, rgba(60,60,60,1) 100%);
}
.card2 .top{
  display: flex;
   width: 22rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
}
.card2 .top img{
  height: 3rem;
  padding-right: 1rem;
}
.card2 .mid{
  display: flex;
   width: 22rem;
  justify-content: space-around;
  align-items: center;
}
.card2 .mid .valor{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card2 .mid .valor p{
  font-size: 2rem;
  color: #f5f5fa;
  font-weight: bolder;
}
.card2 .mid .valor img{
    height: 2rem;
    margin-left: -1rem;
    padding-right: 1rem;
}
.card2 .mid #chip{
  height: 2.5rem;
  margin-right: -1rem;
}

.card2 .bot{
  display: grid;
   width: 22rem;
  grid-template-columns: 12rem 6rem 6rem ;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  color: #f5f5fa;
}
.card2 .bot h1{
  font-size: small;
}
.card2 .bot p{
  font-size: smaller;
}
.card2 .bot .dados{
  display: flex;
  flex-direction: column;
}
.card2 .bot .valid{
  display: flex;
  flex-direction: column;
}
.card2 .bot .seg{
  display: flex;
  flex-direction: column;
}
/*CARD 3*/

.card3{
  display:grid;
  grid-template-rows: 5rem 5rem 5rem;
   width: 22rem;
  border-radius: 1.5rem;
  background: rgb(233,159,40);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, rgba(233,159,40,1) 0%, rgba(255,78,0,1) 100%);
}
.card3 .top{
  display: flex;
   width: 22rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
}
.card3 .top img{
  height: 3rem;
}
.card3 .mid{
  display: flex;
   width: 22rem;
  justify-content: space-around;
  align-items: center;
}
.card3 .mid .valor{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card3 .mid .valor p{
  font-size: 2rem;
  color: #f5f5fa;
  font-weight: bolder;
}
.card3 .mid .valor img{
    height: 2rem;
    margin-left: -1rem;
    padding-right: 1rem;
}
.card3 .mid #chip{
  height: 2.5rem;
  margin-right: -1rem;
}

.card3 .bot{
  display: grid;
   width: 22rem;
  grid-template-columns: 12rem 6rem 6rem ;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  color: #f5f5fa;
}
.card3 .bot h1{
  font-size: small;
}
.card3 .bot p{
  font-size: smaller;
}
.card3 .bot .dados{
  display: flex;
  flex-direction: column;
}
.card3 .bot .valid{
  display: flex;
  flex-direction: column;
}
.card3 .bot .seg{
  display: flex;
  flex-direction: column;
}

/*MidDiv*/
.middiv{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 1rem;
}


/*monthly*/

.monthly{
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 15rem;
  padding-top: 0.5rem;
}
.monthly h1{
  color: #545454;
  font-size: 2rem;
  padding-left: 1rem;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 1rem;
}
.monthly canvas{
  padding-top: -0.5rem;
  width: 35rem;
  height: 12rem;
}

/*Summary*/


.summary{
  display: flex;
  flex-direction: column;
  width: 43.5rem;
  height: 18rem;
  background-color: #e7e7e9;
  border-radius: 20px;
  padding-top: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.summary #sum{
  color: #545454;
  font-size: 2rem;
  padding-left: 1rem;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 1rem;
}
.summary .box h1{
  font-size: larger;
  color: #545454;
}
.summary .box h2{
  color: #545454;
}
.summary .box i{
  color: #545454;
}
.summary .box .ia{
  display: grid;
  grid-template-columns: 36rem 5.5rem;
  grid-template-rows: 3rem;
  padding-left: 2rem;
  transition: 0.3s;
  padding-right: 1rem;
}
.summary .box .ia:hover{
  transform: translateX(-2px);
}

.summary .box .ia::after{
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  width: 2px;
  background-color: #fc2a00;
}

.summary .box .itens{
  display: grid;
  grid-template-columns: 2rem 2rem;
  align-items: center;
}

/*Scroll*/

.scroll {
  white-space: nowrap;
  padding-top: 2rem;
  overflow: hidden;

}

.scroll div {
  display: flex;
}

.scroll .RightToLeft p {
  font-size: 1.5rem;
  color: #0c0c0f;
  font-weight: bold;
  line-height: 2rem;
}
.RightToLeft {
  animation: RightToLeft 20s infinite linear;
}

@keyframes  RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
